<div class="rsvp-index">  
  <p id="notice"><%= notice %></p>

  <div class="container rsvp">
    <h1>Listing RSVPs</h1>
    <div class="panel">
      <div class="rsvp-count panel-body">
        <%= @count %> People are coming<br />
        <%= @party_pooper %> People aren't coming
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Attending</th>
          <th>Comment</th>
          <th>Head Count</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @rsvps.each do |rsvp| %>
          <tr>
            <td><%= rsvp.name %></td>
            <td><%= rsvp.attending %></td>
            <td><%= rsvp.comment %></td>
            <td>
              <% if rsvp.attending == true %>
                <%= rsvp.head.to_i + 1 %>
              <% end %>
            </td>
            <td><%= link_to 'Show', rsvp %></td>
            <td><%= link_to 'Edit', edit_rsvp_path(rsvp) %></td>
            <td><%= link_to 'Destroy', rsvp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Rsvp', new_rsvp_path, :class => 'btn btn-primary' %>
    <%= link_to 'Home', root_path, :class => 'btn btn-primary' %>
  </div>
</div>